#city {
    padding-left:40px;
    margin-top: 16px;
    margin-bottom: -50px;
    font-size: 25px;
    color: ;
}

#mid-container {
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    clear: both;
}

#mid-container ol {
padding: 20px;
width: 619px;
border-right:1px solid #EBEBEB;
float: left;
}

#mid-container li {
    background-color:white;
    display: block;
}

.event_content {
    padding-top: 20px; 
    margin: 0px 0px 0px 0px;
    border-bottom: 1px solid #CCC;
    width: 100%;
}

.box {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    padding-left: 10px;
}

.location_image {
        float: left;
        width: 100px;
}

.event_content img {
        margin-left: auto;
        margin-right: auto;
        width: 90px;
}

.time {
    display: inline-block;
    float: left;
    margin: 0px 35px;
    font-size: 20px;
    width: 8%;
}

.break {
    height: 10px;
    clear: both;
}

.location_name {
    font-size: 17px;
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: 1px;
    padding:0px;
    margin-top: 0px;
    margin-bottom: 3px;
}

.expandable {
    color: #999;
    letter-spacing:2px;
}

.schedule {
padding:0px;
float:right;
margin-right: 100px;
margin-top: -1000px;
}

.schedule li {
    list-style-type: none;
    text-align: center;
    padding: 5px 10px;
    float: left;
    border: 1px solid #CCC;
}


.schedule li:hover {
    background-color: fuchsia;
    display: block;
}

#menu_section {
    float:left;
    padding-left: 20px;
    width: 330px;
}



#filter_menu li, ul {
list-style-type: none;
margin-left: 0px;
padding: 0px;
margin-top: 0px;
}


h4 {
    width: 80px;
    padding: 0px;
    margin: 0px;
}

#filter_menu li {
	padding-bottom: 0px;
	padding-top: 10px;
	padding-left: 0px;
	width: 90px;
}


#day_filter {
	float:right;
    padding: 0px 0px 0px 30px;
    margin: 0px 40px 0px 0px;
    border-left: 1px solid #EBEBEB;
}

#event_filter {
    padding: 0px;
    margin: 0px 0px 0px 40px;
    
}



.description {
    margin-top: 3px;
}


.location a {
    font-weight: 300;
    color: #999;
}

.event_location a:visited {
    position: relative;
    top: 7px;
    left: 20px;
}

span {

}

#add_event {
    margin-top: 50px;
	border-top: 1px solid #EBEBEB;
}

h4 {
	margin-bottom: 5px;
}