a:-webkit-any-link {
color: -webkit-link;
text-decoration: none;
cursor: auto;
}

body {
    background-color:white;
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding:0;
}

h2 {

    padding-bottom: 20px;

    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

h4 {
    color:#B31A14;
    font-size: 24px;
    margin-bottom: 5px;
}

li, a {
    list-style-type: none;
}



#site-header img {
    position: relative;
    left: 40%;
    top: -20px;

}

#site-header {
    background-color: white;
    padding-bottom: 30px;
    width: 100%;
    height: 80px;
    background: -webkit-linear-gradient(#6BD1D6, #6ED7DB); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#6BD1D6, #6ED7DB); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#6BD1D6, #6ED7DB); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#6BD1D6, #6ED7DB); /* Standard syntax */

}

#location {

    color:gray;
    margin: 0;
}


.greeting {
    text-shadow: 1px 1px 3px rgba(255,255,255, .5);
    text-align: center;
    height: 1px;
    background-color: black;
    color: white;
}


#menu-list{
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    border-bottom: 1px solid #CCC;
}


.left-menu-container {
    position:absolute;
    left:0px;
    width:200px;
    height: 500px;
    background-color: white;
    z-index: -2;
    border-right: 1px solid #CCC;
    -moz-box-shadow: 1px 1px 1px #888;
    -webkit-box-shadow: 1px 1px 1px #888;
    box-shadow: 1px 1px 1px #888;
    background-color: #D7E5E8;
    margin: 0px;
}

.main-container {
    position:absolute;
    width: 80%;
    left:220px;
    margin: 0px 10px 10px 0px;
    padding: 20px 20px 20px 20px;
    background-color: white;
}

.events {
    text-decoration: none;
    border: 1px solid #CCC;
}

.events li {
    border-bottom: 1px solid #CCC;
    padding: 30px;
    height: 200px;
}
#box {
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
}
#event_content {
        clear: both;
}

#event_content img {
        float: left;
}


.event_name a {
    text-decoration: none;
    color: #144AB3;
    vertical-align: top;
    font-size: 24px;
}


.directory {
list-style-type: none;
color: red;

}

.rate_widget {
    border:     1px solid #CCC;
    overflow:   visible;
    padding:    10px;
    position:   relative;
    width:      180px;
    height:     32px;
}


.ratings_stars {
 background: url('../images/star-empty.png') no-repeat;
    float:      left;
    height:     28px;
    padding:    2px;
    width:      32px;

       
}
.ratings_vote {
    background-image: url('../images/star-full.png') no-repeat;
}
.ratings_over {
    background: url('../images/star-highlight.png') no-repeat;
}

.total_votes {
    background-image: #eaeaea;
    top: 58px;
    left: 0;
    padding: 5px;
    position:   absolute;  
} 
.movie_choice {
    font: 10px verdana, sans-serif;
    margin: 0 auto 40px auto;
    width: 180px;
}


